html,
body {
	height: 100%;
	overflow: hidden;
	box-sizing: border-box;
	background-color: #ebded4;
}

#background {
	width: 89rem;
	height: 44rem;
	position: absolute;
	background-image: url('../images/manual.jpg');
	background-size: 89rem 44rem;
	background-repeat: no-repeat;
	background-position: center 0.5rem;
}

#home-button{
	position: absolute;
	left: 16rem;
	top: 2.5rem;
	max-width: 4rem;
}

#discription {
	position: absolute;
	font-family: "libre baskerville", cursive, sans-serif;
	font-size: 2rem;
	top: 7.5rem;
	right: 36.5rem;
}


#tequila {
	position: absolute;
	width: 13rem;
	height: 13rem;
	top: 29rem;
	right: 22rem;
	border-radius: 50%;
}

#coke {
	position: absolute;
	width: 10rem;
	height: 10rem;
	top: 21.5rem;
	left: 5.5rem;
	border-radius: 50%;
}

#rum {
	position: absolute;
	width: 10rem;
	height: 10rem;
	top: 13.7rem;
	left: 18.5rem;
	border-radius: 50%;
}

#lime {
	position: absolute;
	width: 9rem;
	height: 9rem;
	top: 16rem;
	right: 22.5rem;
	border-radius: 50%;
}

#whiskey {
	position: absolute;
	width: 16rem;
	height: 16rem;
	top: 25.5rem;
	left: 19.5rem;
	border-radius: 50%;
}

#orange-juice {
	position: absolute;
	width: 13rem;
	height: 13rem;	
	top: 5.2rem;
	left: 4rem;
	border-radius: 50%;
}

#gin {
	position: absolute;
	width: 10rem;
	height: 10rem;
	top: 22.7rem;
	right: 9.8rem;
	border-radius: 50%;
}

#orange-liqueur {
	position: absolute;
	width: 16rem;
	height: 16rem;
	top: 4.5rem;
	right: 4rem;
	border-radius: 50%;
}

.choice-button {
	font-family: "league spartan", cursive, sans-serif;
	font-size: 1.5rem;
	color: #505050;
	display: flex;
	align-items: center;
	justify-content: center;
}

.choice-button:hover {
	color: #252525;
	font-size: 1.55rem;
	cursor: cell;
}

.choice-button:active {
	color: #000000;
	font-size: 1.6rem;
	cursor: cell;
}

.selected {
	font-family: "league spartan", cursive, sans-serif;
	font-size: 1.5rem;
	color: #ff0000;
	display: flex;
	align-items: center;
	justify-content: center;
}

.selected:hover {
	font-size: 1.45rem;
	color: #ff2525;
	cursor: pointer;
}

.selected:active {
	font-size: 1.4rem;
	color: #ff5555;
	cursor: pointer;
}

.disabled {
	box-shadow:inset 0px 1px 0px 0px #69514e;
	background:linear-gradient(to bottom, #a6827e 5%, #634b30 100%);
	background-color:#a6827e;
	border-radius:3px;
	border:1px solid #54381e;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	padding:12px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #4d3534;
	opacity: 0.2;
}

.disabled:hover {
	border-color: transparent !important;
	cursor: not-allowed !important;
}

.bar-viewer__display{
	position: absolute;
	top: 32rem;
	right: 42rem;
}

#box-input {
	position: absolute;
	top: 15rem;
	right: 2rem;
	outline: none;
	background-color: transparent;
	font-family: "libre baskerville", cursive, sans-serif;
	font-weight: bold;
	font-size: 1.6rem;
	border: 0.13rem solid #9a7b6c;
	width: 10rem;
	height: 2rem;
	text-align: center;
}

#box-input::-webkit-outer-spin-button,
#box-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}


#confirm {
	box-shadow:inset 0px 1px 0px 0px #69514e;
	background:linear-gradient(to bottom, #a6827e 5%, #634b30 100%);
	background-color:#a6827e;
	border-radius:3px;
	border:1px solid #54381e;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	padding:12px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #4d3534;
}
#confirm:hover {
	background:linear-gradient(to bottom, #634b30 5%, #a6827e 100%);
	background-color:#634b30;
}
#confirm:active {
	position:relative;
	top:1px;
}
